/* ========== Core Styles ========== */
.flex {
    display: flex;
}
.mt-1 {
    margin-top: 1rem;
}


/* ========== Home Page ========== */
.hero-wrapper {
    text-align: center;
    margin: 3rem;
}