{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="hero-wrapper">
        <div class="hero-text">
            <h1 id="hero-headline">Welcome To Easy Reviews</h1>
            <p id="hero-subhealine">Automate your Google Reviews. Improve your SEO. Generate more leads.</p>
            <a href="{% url 'user-login' %}"><span class="btn btn-primary mr-2">Login</span></a>
            <a href="{% url 'user-register' %}"><span class="btn btn-secondary ml-2">Register</span></a>
        </div>
    </div>
    
</div>
{% endblock %}